@charset 'utf-8';

*{
    margin:0px;
    padding:0px;
}

ol,ul{
    list-style: none;
}

a{
    text-decoration: none;
}

body .container{
    background-color: skyblue;
    padding:25px;
}

.container .main{
    background-color: white;
    width:380px;
    height:610px;
    margin: 0px auto;
}

.main header{
    background-color: red;
    height:50px;
    padding:30px;
    box-sizing: border-box;
}


.main header .navigation{
    background-color: pink;
    float:left;
    font-size:20px;
}

.main header .write{
    background-color: aqua;
    float:right;
    font-size:20px;
}

main header .header-content-container::before{
    content: '';
    clear : both;
    display: block;
}

.main .profile{
    background-color: orange;
    height:220px; 
    width:200px;
    border-radius: 100px;
    margin: 0px auto;
    box-shadow: 8px 9px 11px blue;
}

.main .name-card{
    background-color: yellow;
    height:70px;
    padding-top:15px;
}

.name-card div{
    text-align: center;
}

.main .more-btn{
    background-color: green;
    height:60px;
    padding-top:15px;
}

.more-btn button{
    background-color: white;
    text-align: center;
    width: 175px;
    height:30px;
    display:block;
    margin:0px auto;
    box-shadow: 15px 10px 45px white;
    text-shadow:0px 0px 1rem black;
}

.main .direct-message{
    background-color: blue;
    height:90px;
    padding:0px 30px;;
    box-sizing: border-box;
}

.direct-message div{
    height: 40px;
    background-color: #fff;
    text-align: center;
    line-height: 40px;
    font-size:16px;
}

.direct-message .email{
    border-top: 1px solid darkblue
}

.direct-message button{
    background-color: #fff;
}

.direct-message i{
    margin-right: 10px;
}


.main .another-page{
    background-color: purple;
    height:60px;
}





/* 고정픽셀을 사용하는건 위험하지않나? */